body{
    overflow: hidden;
    background-color: rgb(32, 4, 4);
}

::-webkit-scrollbar {
    display: none;
}
.hirono-figure{
display: flex;
justify-content: center;

}

.hirono-figure > div{
    position: absolute;
}

.head{
    z-index: 1;
    position: sticky;
    bottom: 0vmax;
    width: 45vmax;
    height:25vmax;
    border-bottom-right-radius: 15vmax 35vmax;
    border-bottom-left-radius: 15vmax 35vmax;
    background: linear-gradient(0deg, rgba(255,214,154,1) 25%, rgba(255,130,89,1) 75%);
}

.hair{
    z-index: 5;
    top: 46%;
    width: 50vmax;
    height: 50vmax;
    clip-path: polygon(70.08% 58.59%, 73.48% 62.58%, 76.7% 64.95%, 80.68% 64.65%, 80.68% 58.7%, 84% 62.74%, 88.84% 66.55%, 94.43% 69.47%, 100% 29.29%, 91.88% 16.09%, 88% 13.34%, 92.14% 10.99%, 84.88% 7.84%, 80.92% 9.42%, 88.84% 6.25%, 70.71% 0%, 65.42% 1.37%, 65.31% 0%, 59.26% 0.81%, 44.27% 0.41%, 36.49% 0%, 34.39% 1.16%, 29.29% 0%, 14.43% 6.84%, 20.25% 7.06%, 14.73% 7.76%, 7.01% 20.49%, 0% 29.29%, 4.23% 70.35%, 10.3% 67.52%, 15% 62.74%, 19.15% 57.63%, 16.76% 64.53%, 21.15% 63.74%, 24.99% 61.47%, 29.29% 58.7%, 30.82% 65.32%, 35.39% 70.35%, 44.21% 74.84%, 45.93% 74.84%, 49.3% 64.65%, 47.83% 77.32%, 49.3% 77.49%, 59.47% 71.94%, 66.28% 66.46%);
    background: linear-gradient(0deg, rgba(235,71,64,1) 25%, rgba(211,108,99,1) 100%);
}
.left-hair{
    z-index: 1;
    top: 51%;
    left: 18%;
    width: 20vmax;
    height:30vmax;
    clip-path: polygon(71.25% 0%, 100% 0%, 100% 69.25%, 81.75% 100%, 82.25% 84.87%, 65.4% 100%, 60.21% 94.22%, 46.56% 100%, 56.75% 81.75%, 34.18% 99.83%, 38.83% 90.47%, 19.25% 100%, 22.78% 89.55%, 11.37% 100%, 11.37% 89.55%, 2.18% 91.86%, 4.63% 65.81%, 0% 69%, 4.63% 50.95%, 0% 59.75%, 2.18% 36.94%, 18.04% 24.01%, 40.89% 9.6%);
    background: linear-gradient(56deg, rgba(235,71,64,1) 10%, rgba(211,108,99,1) 100%);
}

.right-hair{
    z-index: 1;
    width: 20vmax;
    height: 30vmax;
    top: 51%;
    right: 18%;
    clip-path: polygon(0% 0%, 36.75% 0%, 64% 18.25%, 93.06% 31.78%, 77.89% 28.32%, 87.65% 39.62%, 100% 69%, 91.56% 59.79%, 95.76% 81.43%, 86.18% 73.28%, 93.06% 85.76%, 95.76% 99.75%, 76.41% 94.65%, 68.72% 82.88%, 75.32% 100%, 68.72% 94%, 69.09% 100%, 47.88% 90.71%, 52.78% 100%, 21.25% 85.43%, 26.39% 100%, 7.25% 94%, 0% 100%);
    background: linear-gradient(309deg, rgba(235,71,64,1) 10%, rgba(211,108,99,1) 100%);
}

.left-ear{
    clip-path: polygon(70.71% 100%, 70.71% 70.71%, 70.71% 29.29%, 70.71% 0%, 29.29% 0%, 0% 29.29%, 0% 70.71%, 29.29% 100%);
    background: linear-gradient(90deg, rgba(255,214,154,1) 15%, rgba(255,130,89,1) 100%);
}

.right-ear{
    clip-path: polygon(70.71% 100%, 100% 70.71%, 100% 29.29%, 70.71% 0%, 29.29% 0%, 29.29% 29.29%, 29.29% 70.71%, 29.29% 100%);
    background: linear-gradient(90deg, rgba(255,130,89,1) 15%, rgba(255,214,154,1) 100%);
}

/*
.hair{
    z-index: 5;
    top: 15%;
    left: 40%;
    width: 15vmax;
    height: 16vmax;
    clip-path: polygon(70.08% 58.59%, 73.48% 62.58%, 76.7% 64.95%, 80.68% 64.65%, 80.68% 58.7%, 84% 62.74%, 88.84% 66.55%, 94.43% 69.47%, 100% 29.29%, 91.88% 16.09%, 88% 13.34%, 92.14% 10.99%, 84.88% 7.84%, 80.92% 9.42%, 88.84% 6.25%, 70.71% 0%, 65.42% 1.37%, 65.31% 0%, 59.26% 0.81%, 44.27% 0.41%, 36.49% 0%, 34.39% 1.16%, 29.29% 0%, 14.43% 6.84%, 20.25% 7.06%, 14.73% 7.76%, 7.01% 20.49%, 0% 29.29%, 4.23% 70.35%, 10.3% 67.52%, 15% 62.74%, 19.15% 57.63%, 16.76% 64.53%, 21.15% 63.74%, 24.99% 61.47%, 29.29% 58.7%, 30.82% 65.32%, 35.39% 70.35%, 44.21% 74.84%, 45.93% 74.84%, 49.3% 64.65%, 47.83% 77.32%, 49.3% 77.49%, 59.47% 71.94%, 66.28% 66.46%);
    background: linear-gradient(0deg, rgba(235,71,64,1) 25%, rgba(211,108,99,1) 100%);
}

.left-hair{
    z-index: 1;
    top: 18%;
    left: 38%;
    width:8vmax;
    height:9vmax;
    clip-path: polygon(71.25% 0%, 100% 0%, 100% 69.25%, 81.75% 100%, 82.25% 84.87%, 65.4% 100%, 60.21% 94.22%, 46.56% 100%, 56.75% 81.75%, 34.18% 99.83%, 38.83% 90.47%, 19.25% 100%, 22.78% 89.55%, 11.37% 100%, 11.37% 89.55%, 2.18% 91.86%, 4.63% 65.81%, 0% 69%, 4.63% 50.95%, 0% 59.75%, 2.18% 36.94%, 18.04% 24.01%, 40.89% 9.6%);
    background: linear-gradient(56deg, rgba(235,71,64,1) 10%, rgba(211,108,99,1) 100%);
}

.right-hair{
    z-index: 1;
    top: 17%;
    right: 43%;
    width: 8vmax;
    height: 9vmax;
    clip-path: polygon(0% 0%, 36.75% 0%, 64% 18.25%, 93.06% 31.78%, 77.89% 28.32%, 87.65% 39.62%, 100% 69%, 91.56% 59.79%, 95.76% 81.43%, 86.18% 73.28%, 93.06% 85.76%, 95.76% 99.75%, 76.41% 94.65%, 68.72% 82.88%, 75.32% 100%, 68.72% 94%, 69.09% 100%, 47.88% 90.71%, 52.78% 100%, 21.25% 85.43%, 26.39% 100%, 7.25% 94%, 0% 100%);
    background: linear-gradient(309deg, rgba(235,71,64,1) 10%, rgba(211,108,99,1) 100%);
}

.head{
    z-index: 1;
    top: 24%;
    left: 36%;
    width: 23vmax;
    height: 15vmax;
    clip-path: polygon(20.23% 29.29%, 79.77% 29.29%, 77.25% 59.75%, 75% 70.25%, 71.02% 76.68%, 60.95% 81%, 50% 81%, 39.05% 81%, 28.98% 76.68%, 25% 70.25%, 22.5% 59.75%);
    background: linear-gradient(0deg, rgba(255,214,154,1) 25%, rgba(255,130,89,1) 75%);
}

.back-hair{
    top: 33%;
    left:40%;
    width:15vmax;
    height:10vmax;
    clip-path: polygon(4.98% 0%, 95.02% 0%, 99.89% 55.32%, 99.32% 65.22%, 92.92% 62.25%, 85.95% 69.18%, 79.35% 77.39%, 76.62% 76.16%, 72.01% 83.04%, 69.8% 81.29%, 64.67% 88.7%, 62.74% 83.82%, 50% 100%, 37.75% 83.44%, 38.69% 88.7%, 31.52% 82.74%, 30.85% 87.22%, 23.77% 77.71%, 21.95% 79.68%, 10.98% 67.59%, 6.73% 61.78%, 0% 66.57%, 0% 55.5%);
    background-color: #eb4747;
}

.left-ear{
    top:35%;
    left:38.5%;
    width:4vmax;
    height:4vmax;
    clip-path: polygon(70.71% 100%, 70.71% 70.71%, 70.71% 29.29%, 70.71% 0%, 29.29% 0%, 0% 29.29%, 0% 70.71%, 29.29% 100%);
    background: linear-gradient(90deg, rgba(255,214,154,1) 15%, rgba(255,130,89,1) 100%);
}

.right-ear{
    top:35%;
    right:43.5%;
    width:4vmax;
    height:4vmax;
    clip-path: polygon(70.71% 100%, 100% 70.71%, 100% 29.29%, 70.71% 0%, 29.29% 0%, 29.29% 29.29%, 29.29% 70.71%, 29.29% 100%);
    background: linear-gradient(90deg, rgba(255,130,89,1) 15%, rgba(255,214,154,1) 100%);
}

/*
@media screen and (min-width: 320px) and (max-height: 688px){
    .hair{}
    .head{left: 33%; top: 20%;}
    .left-hair{left: 35.5%; top:16%; height: 10vmax;}
    .right-hair{right:30%; top:16%; height: 10vmax;}
    .left-ear{top:25%; left:37%;}
    .right-ear{top:25%; right:32%;}
}